.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100dvh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
p.err {
  padding: 0 !important;
  margin: 0 !important;
  color: red;
}
input,
button {
  width: 20rem;
  box-sizing: border-box;
  padding: 5px;
  font: inherit;
  border: 0.5px solid;
  border-radius: 8px;
  cursor: pointer;
}

button {
  border: none;
}
button:hover {
  background-color: blue;
  color: white;
}
